NODE_ENV=development
ADMIN_APP_HOST=0.0.0.0
ADMIN_APP_PORT=4010

MONGO_URL=mongodb://localhost:27017/noteblockworld

S3_ENDPOINT=http://localhost:9000
S3_BUCKET_SONGS=noteblockworld-songs
S3_BUCKET_THUMBS=noteblockworld-thumbs
S3_KEY=minioadmin
S3_SECRET=minioadmin
S3_REGION=us-east-1
