@keyframes noteAnimation {
  0% {
    transform: scale(0) translate(0, 0);
    opacity: 0;
  }

  1% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: scale(1.2) translate(0, 0);
    transform: scale(1) translate(0, -20px);
    opacity: 1;
  }

  99% {
    transform: scale(1) translate(0, -40px);
    opacity: 1;
  }

  100% {
    transform: scale(0) translate(0, -40px);
    opacity: 0;
  }
}

.animate-note {
  animation: noteAnimation 0.8s ease-out;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  position: absolute;
  display: none;
}

.animate-note-active {
  display: block;
}
